In [1]:
import pandas as pd

In [2]:
INPUT_FILE = '../result.csv'

In [3]:
column_names = ['address', 'push0_count', 'deployCost1', 'deployCost2', 'runTimeCost1', 'runTimeCost2']

In [4]:
df = pd.read_csv('../result.csv', names=column_names)

In [8]:
df

,address,push0_count,deployCost1,deployCost2,runTimeCost1,runTimeCost2
0,0x000000000000006f6502b7f2bbac8c30a3f67e9a,12,4800,2400,36,24
1,0x00000000000003441d59dde9a90bffb1cd3fabf1,202,80800,40400,606,404
2,0x00000000000003c98e6a44a835cb776385bed207,185,74000,37000,555,370
3,0x000000000000084e91743124a982076c59f10084,391,156400,78200,1173,782
4,0x0000000000000eb4ec62758aae93400b3e5f7f18,201,80400,40200,603,402
...,...,...,...,...,...,...
20626387,0xffffff317532cc41aac6bed49bcb659ccc24642b,4,1600,800,12,8
20626388,0xfffffff30f66fc0a49b120d80bb0872b8071ef26,43,17200,8600,129,86
20626389,0xffffffff2ba8f66d4e51811c5190992176930278,35,14000,7000,105,70
20626390,0xffffffffa099a386064b24a862e5d93ef7267569,43,17200,8600,129,86
20626391,0xfffffffff15abf397da76f1dcc1a1604f45126db,74,29600,14800,222,148

In [5]:
push0_total = df['push0_count'].sum()

In [7]:
push0_total

340557331

In [6]:
push0_total * 200

68111466200